# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Virtual environment
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# Local PDF files
pdfs/
*.pdf
!pdf_manager/src/dist/*.exe
!src/dist/PDF_Manager_Setup.exe
